.search{
    padding: 6px;
    border-radius: 5%;
    margin: 0 5em;
    height: fit-content;
}
.search-box input{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(230, 230, 230, 0.835);
    padding: 5px 10px;
}
.search-box input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.main-head{
    padding: 15px 0;
}
.anime-list{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}