.Sidebar{
    width: 25%;
    height: auto;
}
nav{
    display: flex;
    flex-direction: column;
}
.sidebar-nav{
    margin-top: 1em;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(221, 221, 221, 0.979);
    background-color: rgb(102, 102, 102);
}

.sidebar-nav:hover{
    background-color: rgb(185, 185, 185);
    color: black;
}
